// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/dark';

// Override variables here

@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

// https://coolors.co/41b883-34495e-49306b-dcedff-94b0da

.login {
    color: #dcedff;
}

.form {
    margin-left: 60;
    margin-right: 60;
    vertical-align: middle;
    width: 250;
}

.inputWrapper {
    border-bottom-color: white;
    border-bottom-width: 2;
    margin-top: 30;
}

.input {
    color: white;
    margin-left: 5;
}

.label {
    color: white;
}

.icon {
    height: 15;
    width: 15;
}

.primaryButton {
    color: white;
    font-weight: bold;
    border-radius: 25;
    border-color: white;
    border-width: 2;
    padding-top: 15;
    padding-bottom: 15;
    text-transform: uppercase;
    letter-spacing: 0.1;
    margin-top: 35;
    font-size: 14;
}